.instagram__item {
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.instagram__item:hover:after {
    opacity: 1;
}

.instagram__item:hover .instagram__text {
    opacity: 1;
    visibility: visible;
}

.instagram__item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0;
    z-index: -1;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.instagram__text {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.instagram__text i {
    font-size: 30px;
    color: #0d0d0d;
}

.instagram__text a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}