.breadcrumb-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.breadcrumb-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    margin-top: 20px;
}


.breadcrumb-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
}

.breadcrumb-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.8;
}