.card-default {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .card-default {
        margin-bottom: 2rem;
    }
}

.card-default .card-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    flex-wrap: wrap;
}

.card-default .card-header h2 {
    font-size: 1.375rem;
    color: #31343d;
}

.card-default .sub-title {
    color: #31343d;
    flex-basis: 100%;
}


/* Mini Stataus */
.mini-status {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

@media (min-width: 992px) {
    .mini-status {
        align-items: center;
        justify-content: unset;
    }
}

.mini-status .text-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 1.25rem;
}

.mini-status .text-content .title {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .mini-status .text-content .title {
        font-size: 0.9375rem;
    }
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.875rem;
}

/* TABLE */

.table {
    margin-bottom: 0;
}

.table thead th {
    text-transform: uppercase;
    color: #31343d;
    border-bottom: 0;
}

.table.table-dark thead th {
    color: #ffffff;
}

/* Produc Data Table */
.table.table-hover tbody tr:hover {
    background-color: #000;
    box-shadow: 0px 10px 18px 0px rgba(55, 103, 208, 0.2);
}

.table.table-hover tbody tr:hover td {
    color: #ffffff;
}

.table.table-hover tbody tr:hover .custom-control-input:checked~.custom-control-label::before {
    background-color: #ffffff;
    color: #000;
}

.table.table-hover tbody tr:hover .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.table.table-hover tbody tr:hover .icon-burger-mini::before,
.table.table-hover tbody tr:hover .card .dropdown .dropdown-toggle {
    color: #ffffff !important;
}

/* Table Product */
.table.table-product th,
.table.table-product td {
    border-top-color: #e5e9f2 !important;
}

.table.table-product thead th {
    text-transform: uppercase;
    color: #31343d;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
}

.table.table-product tbody td {
    padding-left: 18px;
    padding: 14px 10px;
}

.table.table-product tbody td img {
    border-radius: 5px;
    max-width: 40px;
    max-height: 48px;
}